.track {
    display: flex;
    // padding-top: 10px;
    // padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    &__car {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 0;

        &__btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            button {
                flex: 1;
            }
        }
    }

    &__road {
        position: relative;
        flex: 1;
        border-bottom: 1px solid white;
        border-top: 1px solid white;


        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 20px;
            height: 99%;


            // border-top: 1px solid red;

        }

        &::before {
            content: '';
            left: 0;
            border-left: 1px solid white;
            border-right: 1px solid white;
            background: repeating-linear-gradient(to bottom,
                    transparent,
                    transparent 10px,
                    rgba(187, 155, 203, 0.5) 10px,
                    rgba(187, 155, 203, 0.5) 20px);
        }

        &::after {
            right: 100px;
            box-shadow: -2px 0px 25px 2px rgb(255, 0, 255), 10px 5px 20px 2px #a1c6d4;

            background: repeating-linear-gradient(to bottom,
                    rgba(187, 155, 203, 0.7),
                    rgba(187, 155, 203, 0.7) 10px,
                    transparent 10px,
                    transparent 20px);
        }


        &__carname {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
            font-size: var(--font-size-xl);
            font-weight: 400;
            color: gray;

            letter-spacing: 0.1rem;
            user-select: none;
        }
    }
}