.header{
    display: flex;

    margin-top: 40px;
    &__buttons{
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__arrows{
        display: flex;
        gap: 10px;
        align-self: flex-end;
        margin-bottom: 10px;
    
        &:nth-child(2) {
          align-self: flex-start;
          margin-top: 10px; /* Adjust as needed to position at the top */
        }
    }

} 
