.header{
    display: flex;
    width: 100%;
    height: 135px;
    margin-top: 40px;
    justify-content: space-between;
    &__buttons{
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__arrows{
        flex-shrink: 1;
        display: flex;
        gap: 10px;
        align-self: flex-end;
        margin-bottom: 10px;
    
        &:nth-child(2) {
          align-self: flex-start;
          margin-top: 10px; /* Adjust as needed to position at the top */
        }
    }
    &__logo{
        flex-basis: 350px;
        height: 100%;
        border: 1px solid red;
    }  
} 
