.garage {
    margin-top: 80px;



    &__race {
        margin-top: 25px;

        &__line {
            position: relative;
            width: 100%;
            height: 30px;
            display: flex;
            gap: 10px;
        }

        &__err {
            text-align: center;
            font-size: var(--font-size-xl);
            color: rgba(187, 155, 203, 1);
            text-shadow: 2px 2px 15px rgb(252, 16, 146);
            font-weight: 400;
        }
    }


}