.garage {
    margin-top: 80px;

    

    &__race {
        margin-top: 25px;

        &__line {
            position: relative;
            width: 100%;
            height: 30px;
            display: flex;
            gap: 10px;
        }
    }

    
}