.garage{
    margin-top: 80px;
    &__header{
        display: flex;
        justify-content: space-between;
        &__control-btns{
            display: flex;
            gap: 10px;
            button{
                // height: 50px;
            }
        }
        &__form{
            display: flex;
            gap: 10px;
            &-input{
                width: 150px;
                max-height: fit-content;
            }
        }
        input[type="color"]{
            width: 40px;
            height:40px;
            cursor: pointer;
        }
    }
}